.container
{
    margin-top: 100px;
    width: 100%;
    height: 50%;
    /* color:white; */
    /* background-color:  #ffe2c9; */
    /* background-color:  #369; */
    padding: 15px;
    box-shadow: 0 0 11px black;
    border-radius: 10px;
    background-color: white;
}
h1
{
    /* margin-bottom: 10px; */
    font-weight: 800;
}
ul li
{
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
}
ul
{
    list-style-position: inside;
}
.points
{
    margin-top: 20px;
   
}
