<div class="container">
    <h1>
        Virtual Card - Secure Payments
    </h1>
    <div class="points">
        <ul>
            <li>
               <span style="font-size: 25px;">&#10148;</span> 
               A <strong>Virtual Card</strong> is a unique 16-digit random number that solely
                created for one-time-use between payer and payee.
            </li>
            <li>
                <span style="font-size: 25px;"> &#10148;</span>
                <strong>Security:</strong> Virtual Card numbers are generated randomly with specific amount limit 
                and expiry time after which the card expires. So, No one can use it  without the exact payment amount and/or
                it’s outside the time window.
            </li>
            <li>
                <span style="font-size: 25px;"> &#10148;</span>
                <strong>Mobility:</strong> Once registered you can use Virtual card from anywhere, all you need is the internet facility.
            </li>
            <li>
                <span style="font-size: 25px;"> &#10148;</span>
                <strong>Instant Access:</strong> Get access to Virtual card instantly once registered with card number, CVV and expiry date. You no longer have to
                carry your physical card for payments.
            </li>
            <li>
                <span style="font-size: 25px;"> &#10148;</span>
                <strong>Manage Cash Flow:</strong> As stated earlier Virtual cards are used only once with limit on amount. This eliminates the problem of overpayment or short payment.
            </li>
            <li>
                <span style="font-size: 25px;"> &#10148;</span>
                <strong>Cost free:</strong> Virtual cards are cost free. You can use any number of virtual cards for your payments. 
            </li>
        </ul>
    </div>
    
</div>
